<!DOCTYPE html>
<html>
<head>
<title>Dentist WorkSpace</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Simple Stylish Calender Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../../static/appointment/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--Calender-->
<script src="../../static/appointment/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="../../static/appointment/css/clndr.css" type="text/css" />
<script src="../../static/appointment/js/underscore-min.js"></script>
<script src= "../../static/appointment/js/moment-2.2.1.js"></script>
<script src="../../static/appointment/js/clndr.js"></script>
<script src="../../static/appointment/js/site.js"></script>
<!-- end calender -->
<body>
	<div class="content">
        <h1>My Appointment</h1>
        <div class="calnder">
            <div class="column_right_grid calender">
                <div class="cal1">
                    <div class="clndr">
                        <div class="clndr-controls">
                            <div class="clndr-control-button">
                                <p class="clndr-previous-button">previous</p>
                            </div>
                            <div class="month">SEPTEMBER 2015</div>
                            <div class="clndr-control-button rightalign">
                                <p class="clndr-next-button">next</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <h1>本日预约信息</h1>
    </div>
    <div class="operation">

    </div>
	<div class="footer">
		<p>Designed by RuiQiu for GuirongZhu</p>
	</div>
<script type="text/javascript" src="../../static/common/require.js"></script>
<script type="text/javascript" src="../../static/appointment/appointment.js"></script>
</body>
</html>