<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主菜单</title>
    <link href="../../static/appointment/css/menu.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div class="header">
        <p class="system-title">Hello, 今天又是充满干劲的一天呐~</p>
    </div>
    <div class="main_area">
        <div class="interface_up">
            <a class="interface" id="view_appointment" href="/appointment/appointment_html/" title="查看您本周的预约情况">查看预约</a>
            <div class="interface" id="daily_schedule" title="查看您本周的日程安排">日程安排</div>
        </div>
        <div class="interface_down">
            <div class="interface" id="new_appointment" title="新建与患者的预约">新建预约</div>
            <div class="interface" id="user_management" title="维护医生与患者的信息">人员维护</div>
        </div>
    </div>
    <div class="footer">
		<p>Designed by RuiQiu for GuirongZhu</p>
	</div>
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/common/require.js"></script>
<script type="text/javascript" src="../../static/appointment/menu.js"></script>
</body>
</html>